body{
    margin: 0;
    background-color: #000000;
    font-family: 'Mulish', sans-serif;
}

/* шапка сайта */
.header{
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

.logo{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo > a{
    text-decoration: none;
    color: #56B280;
    font-weight: 700;
}

.logoIMG{
    width: 34px;
    height: 34px;
    background-image: url(logo.png);
    background-size: cover;
}

.menu{
    width: 30%;
    height: 100%;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subMenu{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subMenu > a{
    text-decoration: none;
    color: #000000;
    font-weight: 700;
}

.account{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subAccount{
    width: 17%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.accountIMG{
    width: 34px;
    height: 34px;
    background-image: url(profile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cartIMG{
    width: 34px;
    height: 34px;
    background-image: url(cart.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* шапка сайта */





/* главный блок */
.mainBlock{
    width: 100%;
    height: 580px;
    background-image: url(bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.subMainBlock{
    width: 37%;
    height: 47%;
    border-radius: 2px;
    background: rgba(247, 248, 250, 0.8);
    backdrop-filter: blur(40px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.subSubMainBlock{
    width: 83%;
    height: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mainBlockTitle{
    margin-top: 10px;
    font-size: 36px;
    font-weight: 700;
}

.mainBlockInfo{
    margin-top: -32px;
    font-size: 17px;
}

.subSubMainBlock > button{
    margin-top: 20px;
    width: 55%;
    height: 35px;
    border: none;
    border-radius: 4px;
    background-color: #56B280;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}
/* главный блок */





/* продукция */
.products{
    width: 100%;
    height: 700px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subProducts{
    width: 65%;
    height: 72%;
    display: flex;
    flex-direction: column;
}

.productsBlockText{
    width: 100%;
    height: 20%;
    text-align: center;
}

.productsBlockTitle{
    margin-top: -4px;
    font-size: 36px;
    font-weight: 700;
}

.productsBlockSubtitle{
    margin-top: -25px;
    font-size: 18px;
    font-weight: 600;
    color: #5e6e89;
}

.column{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row{
    width: 100%;
    height: 47%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productBlock{
    width: 23%;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.07);
}

.productIMGBG{
    width: 100%;
    height: 68%;
    background-color: #F7F8FA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productIMG{
    width: 65%;
    height: 90%;
}

.productIMG > img{
    width: 100%;
    height: 100%;
}

.productInfo{
    width: 80%;
    height: 32%;
}

.productName{
    width: 100%;
    height: 50%;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
}

.productCost{
    width: 100%;
    height: 50%;
    text-align: right;
    font-size: 18px;
    color: #56B280;
    font-weight: 700;
}
/* продукция */





/* информация */
.information{
    width: 100%;
    height: 650px;
    background-color: #F7F8FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subInformation{
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: row;
}

.infoText{
    width: 50%;
    height: 90%;
}

.infoTitle{
    margin-top: -6px;
    font-size: 48px;
    font-weight: 700;
}

.infoSubtitle{
    margin-top: -35px;
    color: #56B280;
}

.description{
    margin-top: -10px;
    width: 100%;
    height: 30%;
}

.subDescription{
    width: 93%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkIMG{
    width: 15px;
    height: 15px;
    background-image: url(check.png);
    background-size: cover;
}

.infoText > button{
    margin-top: 50px;
    width: 170px;
    height: 35px;
    border: none;
    border-radius: 3px;
    background-color: #56B280;
    color: #FFFFFF;
    font-weight: 500;
}

.infoIMG{
    width: 50%;
    height: 90%;
    display: flex;
    align-items: flex-end;
}

.subInfoIMG{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.infoBlockIMG{
    width: 75%;
    height: 95%;
    background-image: url(infoBlockIMG.png);
    background-size: cover;
    box-shadow: 0px 5px 60px -15px rgba(0, 0, 0, 0.25);
}
/* информация */





/* отзывы */
.testimonials{
    width: 100%;
    height: 500px;
    background-color: #EEF7F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subTestimonials{
    position: relative;
    width: 65%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewsTitle{
    margin-top: -5px;
    font-size: 36px;
    font-weight: 700;
}

.reviewsSubtitle{
    margin-top: -25px;
    font-size: 18px;
    color: #5e6e89;
    font-weight: 600;
}

.reviewsRow{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review{
    width: 31.5%;
    height: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 25px -5px rgba(0, 0, 0, 0.2);
}

.subReview{
    width: 75%;
    height: 85%;
    display: flex;
    flex-direction: column;
}

.customerPhoto{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo > img{
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

.stars{
    width: 70%;
    height: 30px;
    background-image: url(Stars.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.customerInfo{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote{
    font-size: 20px;
    font-weight: 700;
}

.customerName{
    margin-top: -15px;
    color: #5e6e89;
}
/* отзывы */





/* популярная продукция */
.popularProducts{
    width: 100%;
    height: 450px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subPopular{
    width: 65%;
    height: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popularBlockTitle{
    margin-top: -7px;
    font-size: 36px;
    font-weight: 700;
}

.popularBlockSubtitle{
    margin-top: -30px;
    font-size: 18px;
    font-weight: 600;
    color: #5e6e89;
}

.popularProductsRow{
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* популярная продукция */




/* подвал сайта (с детьми) */
.footer{
    width: 100%;
    height: 425px;
}

.darkFooter{
    width: 100%;
    height: 350px;
    background-color: #272727;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subFooter{
    width: 65%;
    height: 70%;
}

hr{
    margin-top: 0;
    width: 100%;
    border: 0.5px solid #FFFFFF;
}

.footerInfo{
    margin-top: -7px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.footerLogoBlock{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column
}

.subFooterLogoBlock{
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: row;
}

.subFooterLogoBlock > a{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 48px;
    text-decoration: none;
}

.footerDescription{
    font-size: 20px;
}

.subFooterInfoBlock{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.footerInfoBlock{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerInfoBlock > a{
    color: #FFFFFF;
    text-decoration: none;
}

.copyright{
    width: 100%;
    height: 75px;
    background-color: #e5e5e5;
    color: #5e6e89;
    display: flex;
    justify-content: center;
}

.subCopyright{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* подвал сайта */
